<button data-stripe="payment">
    Buy Now <%= number_to_currency(@cheese.price) %>
</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
    document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
    const stripe = Stripe(
    "<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
    sessionId: "<%= @session_id %>"});});
</script>