<h2>Latest Listings:</h2>
<div class="container">
    <% @latest.each do |cheese| %>
        <div class="flexboxes">
            <%= image_tag cheese.item_picture if cheese.item_picture.attached? %>
            <p><%= link_to cheese.name, cheese_path(cheese.id) %></p>
            <p>$<%= cheese.price.round(2) %></p>
        </div>
    <% end %>
</div>

